 .u-section-1 {
  background-image: url("images/g73708fa0f966db8a25c3967e5edd8ab17aa58025e0095011b396846371f05b933908f6d2aef1cbe2e011adeda56eef2e2294a27609013b11a609d99a906ae7ca_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 824px;
}

.u-section-1 .u-group-1 {
  width: 724px;
  min-height: 552px;
  margin: 118px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 339px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin: 32px auto 0;
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 287px;
  width: 570px;
  margin: -511px auto 224px;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-btn-3 {
  width: 100%;
  border-style: none;
  padding: 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 786px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}